#siteHead{
	background-color:#6666ff; 
	border-bottom: 2px solid black;
}
#siteHead h2{
	margin-left: 1em;
	color:white;
	font-weight: bold;
	margin-bottom: .5em;
	padding-top: .5em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.btn{
	border-radius:8px;
	width: 20%;
}

.btn:hover{
	cursor:pointer;
}

#lgnBtn{
	background-color:#6666ff;
}

input{
	border:2px solid black;
	border-radius: 6px;
}

.signUpHead{
	background-color: #6666ff;
	border-bottom: 2px solid black;
	margin-bottom: 2em;
}

.signUpHead h2{
	margin-left: 1em;
	font-weight: bold;
	color:white;
	margin-top: .5em;
}
.signUpHead p{
	margin-left: 3em;
	font-weight: bold;
	color:white;
	margin-bottom: 2em;
	font-size: 70%;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

 img{
	border:none;
	display:block;
	margin: 0 auto;
	margin-bottom: 3em;
	margin-top: 1em;
}

.container{
	text-align: center;
}

/* adjust place holder text */

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

/*Animation

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}